.loader {
  animation: spin 1s linear infinite;
  
  &--primary {
    color: $color-primary;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}