.flex {
  display: flex;
  
  &--center {
    align-items: center;
    justify-content: center;
  }
  
  &--between {
    justify-content: space-between;
  }
  
  &--gap {
    gap: $spacing-4;
  }
  
  &--col {
    flex-direction: column;
  }
}